body {
	background-color: rgba(0,0,0,0.4);
}

.form-container {
	max-width: 30em;
	margin: auto;
	margin-top: 0;
}

.card {
	padding: 0 1em;
	margin-top: 0;
	animation: fadeIn 1s ease;
}

h3.text-center {
	margin: 0;
	text-align: center;
	font-size: 1.8em;
	padding: 1em 0 0;
}

.row {
	margin-bottom: 0;
}

.register {
	width: 100%;
}

.error {
	font-size: 0.7em;
	animation: fadeInError 1s ease;
	margin-left: 45px;
}

@keyframes fadeIn {
	0% { opacity: 0;}
	100% { opacity: 1;}
}

@keyframes fadeInError {
	0% { opacity: 0;}
	100% { opacity: 1;}
}

@media (min-width: 600px) {
	.form-container {
		margin-top: 4em;
	}

	.text-center {
		padding: 0.4em 0 0;
		font-size: 2.737em;
	}

	.card {
		padding: 0 2em;
	}
}